@charset "UTF-8";
body {
  margin: auto;
}

body .show {
  opacity: 0;
}

body > div {
  background-color: #1C1B21;
  width: 100vw;
}

body > div:nth-child(1) > div:nth-child(1) {
  height: 864px;
}

body > div:nth-child(1) > div:nth-child(1) img {
  width: 100vw;
}

body > div:nth-child(1) > div:nth-child(2) {
  overflow: hidden;
}

body > div:nth-child(1) > div:nth-child(2) > div {
  width: 1024px;
  margin: auto;
}

body > div:nth-child(1) > div:nth-child(2) > div p {
  margin: auto;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  white-space: inherit;
  color: white;
  height: 36px;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  height: 500px;
  margin-top: 50px;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) .lastp {
  text-align: right;
  margin-right: 80px;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) p {
  font-weight: bold;
  color: red;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) .leftp {
  text-align: left;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) .rightp {
  text-align: right;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) .bigp {
  font-size: 35px;
  font-weight: lighter;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) .bigptwo {
  font-size: 35px;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) .bigest {
  font-weight: lighter;
  font-size: 50px;
  height: 60px;
}

body > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) p {
  width: 724px;
}

body > div:nth-child(1) > div:nth-child(3) img {
  width: 1536px;
}

body > div:nth-child(1) > div:nth-child(4) {
  text-align: center;
}

body > div:nth-child(1) > div:nth-child(4) p {
  margin: auto;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  white-space: inherit;
  color: white;
  height: 36px;
}

body > div:nth-child(2) {
  position: fixed;
  z-index: -1;
  top: 0px;
}

body > div:nth-child(2) img {
  width: 100vw;
  height: 100%;
}

body > div:nth-child(2) .blackOut1 {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #272828;
  z-index: 5;
}

body .w {
  width: 1024px;
  margin: 0 auto;
}

body .fr {
  text-align: right;
  padding-right: 120px;
  font-size: 13px;
}

body .fixedBanner1 {
  height: 100vh;
}

body .box-2 {
  margin-top: 100vh;
  background-color: #272828;
  line-height: 36px;
}

body .box-2 .content-box .tags-box {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  padding-top: 45px;
}

body .box-2 .content-box .tags-box p {
  margin: auto;
}

body .box-2 .content-box .article-box {
  padding: 10px 150px;
  box-sizing: border-box;
  font-size: 16px;
  color: #F5F6F8;
  padding-top: 20px;
}

body .box-2 .content-box .article-box p {
  display: block;
  opacity: 1;
}

body .box-2 .content-box .article-box .data-box {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body .box-2 .content-box .article-box .data-box .data-title {
  width: 100%;
  text-align: right;
  font-size: 10px;
  padding-right: 60px;
}

body .fixedBanner2 {
  position: fixed;
  z-index: -2;
  top: 0px;
}

body .fixedBanner2 img {
  width: 100vw;
  height: 100vh;
}

body .fixedBanner2 .blackOut2 {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #272828;
  z-index: 5;
}

body .content {
  margin-top: 100vh;
  width: 100vw;
  background-color: #1C1B21;
}

body .content .content-int {
  width: 1252px;
  margin: 0 auto;
  padding: 10px 200px;
  box-sizing: border-box;
}

body .samecontent {
  width: 100vw;
  background-color: #1C1B21;
  margin-top: -48px;
  padding-bottom: 30px;
}

body .samecontent .samecon-int {
  width: 1024px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

body .bold {
  font-weight: bolder;
  margin-top: 40px;
}

body p {
  color: #fff;
  margin: 48px 0;
}

body p span {
  font-family: custom_27203;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  display: block;
}

body p span i {
  font-style: normal;
  color: #f5cb1c;
  font-weight: bold;
}

body .msg1 {
  width: 100%;
}

body .msg1 img {
  width: 100%;
}

body .msg2 {
  width: 100%;
  margin: 60px 0;
  margin-bottom: 110px;
}

body .msg2 img {
  width: 100%;
}

body #ifr {
  height: 330px;
}

body .wujin {
  margin-bottom: -100px;
}

body iframe {
  height: 420px;
  width: 580px !important;
  margin: 50px 143px;
  left: 0;
  right: 0;
  margin-top: 40px;
}

body .img1 {
  width: 100%;
  position: fixed;
  z-index: -3;
  top: 0px;
}

body .img1 img {
  width: 100%;
  height: 100vh;
}

body .img1 .blackOut3 {
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #272828;
  z-index: 5;
}

body .data-box2 {
  padding: 50px 267px;
  box-sizing: border-box;
  font-size: 16px;
  color: #F5F6F8;
  margin-top: -20px;
}

body .data-box2 .info-web {
  display: flex;
  justify-content: center;
  height: 500px;
}

body .data-box2 .info-web .scroll-box {
  overflow: hidden;
  width: 570px;
  position: relative;
  text-align: center;
}

body .data-box2 .info-web .scroll-box .scrollShow-info {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: -18px;
  line-height: 80px;
}

body .data-box2 .info-web .scroll-box .scrollShow-info p {
  display: block;
  height: 80px;
  margin: 80px 0;
}

body .data-box2 .info-web iframe {
  width: 382px !important;
  height: 405px !important;
  margin: 0 !important;
}

body .bigOne {
  width: 100%;
  font-size: 25px;
  line-height: 33px;
  font-weight: bolder;
  text-align: center;
}

body #ecircle {
  margin-bottom: 0px;
}

body .fa-navicon::before,
body .fa-reorder::before,
body .fa-bars::before {
  content: "\f0c9";
  background-color: #fff;
  background-position: center;
}

body #open {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
  top: 20px;
  left: -80px;
  background-color: #fff;
}

body #open:hover {
  background-color: #1C1B21;
}

body #open > i {
  position: absolute;
  left: 24px;
  top: 23px;
}

#skip1,
#skip2,
#skip3,
#skip4 {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: -99;
  background-color: opacify;
}

#aside {
  width: 0px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1C1B21;
}

#aside > p {
  font-size: 35px;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  width: 100%;
  height: 141px;
  position: relative;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

ul li > span {
  position: absolute;
  bottom: 20px;
  right: -40px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  background-color: #fff;
}

ul li:nth-child(1) {
  background-image: url("../images/总标题.jpg");
}

ul li:nth-child(2) {
  background-image: url("../images/小标题1.jpg");
}

ul li:nth-child(3) {
  background-image: url("../images/小标题2.jpg");
}

ul li:nth-child(4) {
  background-image: url("../images/小标题3.jpg");
}

footer {
  height: 600px;
  width: 100vw;
  background-image: url("../images/底部.jpg");
  background-position: -300px;
  color: white;
  display: flex;
  align-items: center;
}

footer div {
  width: 85%;
  height: 70%;
  margin-left: 20px;
}

footer div h1 {
  margin: auto;
}

footer div p {
  margin: 30px 0;
}

.bktotop {
  width: 100vw;
  height: 200px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bktotop h2 {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  width: 100%;
}

.tt {
  height: 310px;
}
